﻿@model IEnumerable<Malwee.Models.Fornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Fornecedores</h2>

<p>
    @Html.ActionLink("NOVO", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("EDITAR", "Edit", new { id=item.Id }) |
            @Html.ActionLink("EXCLUIR", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
