﻿@model IEnumerable<Malwee.Models.ServicoPrestado>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    @Html.ActionLink("NOVO SERVIÇO", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DtAtendimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorServico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServico.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DtAtendimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorServico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServico.Descricao)
        </td>
        <td>
            @Html.ActionLink("EDITAR", "Edit", new { id=item.Id }) |
            @Html.ActionLink("EXCLUIR", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
