﻿
@{
    ViewBag.Title = "Index";
}


<h2>RELATÓRIO </h2>
<div class="box-body">
    <div class="row">
        <div class="col-md-5">

            <div class="form-group">
                <label>Cliente</label>
                <select id="cliente" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Estado</label>
                <input type="text" class="form-control" id="estado" placeholder="ex: SC" maxlength="2" />
            </div>

            <div class="form-group">
                <label>Cidade</label>
                <input type="text" class="form-control" id="cidade" placeholder="Nome Cidade" />
            </div>

            <div class="form-group">
                <label>Bairro</label>
                <input type="text" class="form-control" id="bairro" placeholder="Nome Bairro" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Tipo de Serviço</label>
                <select id="tipoServico" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Valor Min</label>
                <input type="text" class="form-control" id="vlmin" placeholder="ex:1200,99" />
            </div>

            <div class="form-group">
                <label>Valor Max</label>
                <input type="text" class="form-control" id="vlmax" placeholder="ex: 1200,99" />
            </div>
            <div class="form-group">
                <label>PRESSIONE ENTER PARA ATUALIZAR O GRID VIA AJAX</label>
                
            </div>
        </div>
    </div>
</div>
<br />

<table id="jqGrid"></table>
<div id="jqGridPager"></div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Theme/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/jqGrid/grid.locale-en.js"></script>
    <script src="~/Scripts/jqGrid/jquery.jqGrid.js"></script>
    <script src="~/Scripts/relatorio/relatorio.js"></script>
    <script>
   
    </script>

}