﻿
@{
    ViewBag.Title = "FornecedorSemAtendimentoNoMes";
    int cont = 0;
}

<h2>Fornecedor Sem Atendimento Por Mes</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Mês</th>
            <th>FORNECEDOR</th>
        </tr>
    </thead>
    <tbody>
        <!-- REGISTRO DO MES DE JANEIRO -->
        @{

            for (int i = 0; i < ViewBag.Janeiro.Count; i++)
            {
                var total = ViewBag.Janeiro.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">JANEIRO</td>
                    }
                    <td>@ViewBag.Janeiro[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }

        <!-- REGISTRO DO MES DE FEVEREIRO -->
        @{


            for (int i = 0; i < ViewBag.Fevereiro.Count; i++)
            {
                var total = ViewBag.Fevereiro.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">FEVEREIRO</td>
                    }
                    <td>@ViewBag.Fevereiro[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }

        <!-- REGISTRO DO MES DE MARCO -->

        @{
            for (int i = 0; i < ViewBag.Marco.Count; i++)
            {
                var total = ViewBag.Marco.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">MARÇO</td>
                    }

                    <td>@ViewBag.Marco[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE Abril -->

        @{
            for (int i = 0; i < ViewBag.Abril.Count; i++)
            {
                var total = ViewBag.Abril.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">ABRIL</td>
                    }

                    <td>@ViewBag.Abril[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE MAIO -->

        @{
            for (int i = 0; i < ViewBag.Maio.Count; i++)
            {

                var total = ViewBag.Maio.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">MAIO</td>
                    }
                    <td>@ViewBag.Maio[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE JUNHO -->

        @{
            for (int i = 0; i < ViewBag.Junho.Count; i++)
            {

                var total = ViewBag.Junho.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">JUNHO</td>
                    }
                    <td>@ViewBag.Junho[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE Julho -->

        @{
            for (int i = 0; i < ViewBag.Julho.Count; i++)
            {

                var total = ViewBag.Julho.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">JULHO</td>
                    }
                    <td>@ViewBag.Julho[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE AGOSTO -->

        @{
            for (int i = 0; i < ViewBag.Agosto.Count; i++)
            {

                var total = ViewBag.Agosto.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">AGOSTO</td>
                    }
                    <td>@ViewBag.Agosto[i].Fornecedor</td>

                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE Setembro -->

        @{
            for (int i = 0; i < ViewBag.Setembro.Count; i++)
            {

                var total = ViewBag.Setembro.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">SETEMBRO</td>
                    }
                    <td>@ViewBag.Setembro[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE OUTUBRO -->

        @{
            for (int i = 0; i < ViewBag.Outubro.Count; i++)
            {
                var total = ViewBag.Outubro.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">OUTUBRO</td>
                    }
                    <td>@ViewBag.Outubro[i].Fornecedor</td>
                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE NOVEMBRO -->

        @{
            for (int i = 0; i < ViewBag.Novembro.Count; i++)
            {

                var total = ViewBag.Novembro.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">NOVEMBRO</td>
                    }
                    <td>@ViewBag.Novembro[i].Fornecedor</td>

                </tr>
                cont++;
            }
        }
        <!-- REGISTRO DO MES DE Dezembro -->

        @{
            for (int i = 0; i < ViewBag.Dezembro.Count; i++)
            {

                var total = ViewBag.Dezembro.Count;
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@total" align="center">DEZEMBRO</td>
                    }
                    <td>@ViewBag.Dezembro[i].Fornecedor</td>

                </tr>
                cont++;
            }
        }
</table>
<br />
