﻿
@{
    ViewBag.Title = "Index";
}

<h2>CLIQUE NO LINK PARA VISUALIZAR</h2>
<div>    
    @Html.ActionLink("Os 3 clientes que mais gastaram em serviços por mês no ano atual ", "ClienteMaisGastaramMes", "Estatisticas", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div>
    @Html.ActionLink("Lista de fornecedores sem prestar atendimento por mês no ano atual  ", "FornecedorSemAtendimentoNoMes", "Estatisticas", new { area = "" }, new { @class = "navbar-brand" })
</div>
<br />


