﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TESTE MALWEE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("Clientes", "Index", "Clientes", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>   @Html.ActionLink("Fornecedores", "Index", "Fornecedors", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>
                        @Html.ActionLink("Tipo de Serviço", "Index", "TipoServicoes", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Serviço Prestado", "Index", "ServicoPrestadoes", new { area = "" }, new { @class = "navbar-brand" })

                    </li>
                    <li>
                        @Html.ActionLink("Relatorio", "Index", "Relatorio", new { area = "" }, new { @class = "navbar-brand" })

                    </li>
                    <li>
                        @Html.ActionLink("Estatistica", "Index", "Estatisticas", new { area = "" }, new { @class = "navbar-brand" })

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
